stages = {
    { 
        screen_count = 2,
        screens = {
            {
                x = 0,
                y = 0,
                width = 512,
                height = 460,
                block_count = 5,
                blocks = {
                    {
                        id = 0,
                        enter = 0,
                        trect = {x = 221, y = 127,w = 32, h = 32 },
                        brect = {x = 478, y = 102,w = 64, h = 64 },
                    },
                    {
                        id = 1,
                        enter = 0,
                        trect = {x = 189, y = 127,w = 32, h = 32 },
                        brect = {x = 414, y = 102,w = 64, h = 64 },
                    },
                    {
                        id = 2,
                        enter = 0,
                        trect = {x = 0, y = 0,w = 2, h = 2 },
                        brect = {x = 322, y = 296,w = 192, h = 80 },
                    },
                                        {
                        id = 3,
                        enter = 0,
                        trect = {x = 0, y = 0,w = 2, h = 2 },
                        brect = {x = 98, y = 360,w = 256, h = 96 },
                    },
                    {
                        id = 4,
                        enter = 0,
                        trect = {x = 0, y = 0,w = 2, h = 2 },
                        brect = {x = 69, y = 360,w = 32, h = 96 },
                    }
                }
            }
        }
    }
}