
--[[
   to keep the lua function somewhat out of the scope of the lua scripts,
   we have a c function that executes a string holding our functions.
   This isn't flexible regarding changes in the functionality but this isn't
   the aim for these scripts! Here we want to assemble information for one or 
   more stages. 

   Note: at the moment the next lines till stages = {} have no impact on the 
         stage creation!

         For now it simply reads a file and extract a tile info (solid/enter) 
         and sets a matrix of 16 columns and 15 rows that translate to 512px by
         480px and a tile size of 32px by 32px. 
]]--

sdl2_test_lua.ImportFunctions()

lvl = lvl_extract(lines_from('scripts/sdl2_test_test.config'))

stages = {}

local trect = 0
local brect = 1

stage = sdl2_test_lua.InitStage(2, 0)

sdl2_test_lua.InitScreen(stage, 0, 0, 0, 512, 460, 5)

sdl2_test_lua.InitBlock(stage, 0, 0, 0)
sdl2_test_lua.InitRect(stage, 0, 0, trect, 221, 127, 32, 32)
sdl2_test_lua.InitRect(stage, 0, 0, brect, 478, 102, 64, 64)
sdl2_test_lua.InitBlock(stage, 0, 1, 0)
sdl2_test_lua.InitRect(stage, 0, 1, trect, 189, 127, 32, 32)
sdl2_test_lua.InitRect(stage, 0, 1, brect, 414, 102, 64, 64)
sdl2_test_lua.InitBlock(stage, 0, 2, 0)
sdl2_test_lua.InitRect(stage, 0, 2, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 0, 2, brect, 322, 296, 192, 80)
sdl2_test_lua.InitBlock(stage, 0, 3, 0)
sdl2_test_lua.InitRect(stage, 0, 3, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 0, 3, brect, 90, 360, 256, 96)
sdl2_test_lua.InitBlock(stage, 0, 4, 0)
sdl2_test_lua.InitRect(stage, 0, 4, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 0, 4, brect, 69, 360, 32, 96)

sdl2_test_lua.InitScreen(stage, 1, 0, 0, 512, 460, 9)
sdl2_test_lua.InitBlock(stage, 1, 0, 0)
sdl2_test_lua.InitRect(stage, 1, 0, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 0, brect, 100, 0, 412, 60)
sdl2_test_lua.InitBlock(stage, 1, 1, 0)
sdl2_test_lua.InitRect(stage, 1, 1, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 1, brect, 322, 60, 190, 124)
sdl2_test_lua.InitBlock(stage, 1, 2, 0)
sdl2_test_lua.InitRect(stage, 1, 2, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 2, brect, 386, 184, 128, 62)
sdl2_test_lua.InitBlock(stage, 1, 3, 0)
sdl2_test_lua.InitRect(stage, 1, 3, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 3, brect, 452, 246, 60, 202)
sdl2_test_lua.InitBlock(stage, 1, 4, 0)
sdl2_test_lua.InitRect(stage, 1, 4, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 4, brect, 390, 412, 32, 48)
sdl2_test_lua.InitBlock(stage, 1, 5, 0)
sdl2_test_lua.InitRect(stage, 1, 5, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 5, brect, 100, 252, 32, 32)
sdl2_test_lua.InitBlock(stage, 1, 6, 0)
sdl2_test_lua.InitRect(stage, 1, 6, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 6, brect, 162, 318, 32, 32)
sdl2_test_lua.InitBlock(stage, 1, 7, 0)
sdl2_test_lua.InitRect(stage, 1, 7, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 7, brect, 0, 412, 390, 48)
sdl2_test_lua.InitBlock(stage, 1, 8, 0)
sdl2_test_lua.InitRect(stage, 1, 8, trect, 0, 0, 2, 2)
sdl2_test_lua.InitRect(stage, 1, 8, brect, 69, 0, 32, 184)

table.insert(stages, stage)